In [2]:
import pandas as pd 
import yfinance as yf
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

In [3]:
def clean_data(data):
    clean = data[['Date','Tweet content']]
    
    return clean


def get_sentiment_score(df):
    for index,row in df.iterrows():
        tweet = row['Tweet content']
        df.at[index,'sentiment'] = sia.polarity_scores(tweet)['compound']
    
    temp = df[df['sentiment'] != 0.0]
    
    return temp


def get_daily_sentiment(data):
    return data.groupby('Date').mean()

def reset_index(data):
    data['short'] = 0
    data['return'] = 0
    data['date'] = data.index
    data.index = range(0,len(data))
    
    return data

def get_stock_prices(ticker,sentiment_score):
    return yf.download(ticker,sentiment_score['date'][0],sentiment_score['date'][len(sentiment_score)-1])

def match_open_close(sentiment_data, stock_prices):
    sentiment_data['Open'] = 0.0
    sentiment_data['Close'] = 0.0
    
    for j in range(0,len(sentiment_data)-1):
        for i in range(0,len(stock_prices)-1):
            if(sentiment_data.date[j] == str(stock_prices.index[i].date())):
                sentiment_data['Open'][j] = stock_prices['Open'][i]
                sentiment_data['Close'][j] = stock_prices['Close'][i]
                break
                
    return sentiment_data


def short(data):
    for index,row in data.iterrows():
        if(row['sentiment'] < 0):
            cnt = 1
            while(data.at[index+1,'Open'] != 0.0 and cnt <= 2):
                data.at[index+cnt,'short'] = 1
                cnt+=1
                
    return data

def calculate_return(data):
    for index,row in data.iterrows():
        if(row['short'] == 1):
            data.at[index,'return'] = 100*(row['Open'] - row['Close'])
            
    gain = 0
    for index,row in data.iterrows():
        if(row['return'] != 0):
            gain = gain+int(row['return'])
            
    print('Total Return: ', gain)
    return data

In [4]:
amzn_tweets = clean_data(pd.read_excel('tweet.xlsx','Stream'))
amzn_senti = get_sentiment_score(amzn_tweets)
amzn_senti = get_daily_sentiment(amzn_senti)
amzn_senti = reset_index(amzn_senti)
amzn = get_stock_prices('AMZN',amzn_senti)
amzn_senti = match_open_close(amzn_senti,amzn)
amzn_return = calculate_return(short(amzn_senti))

[*********************100%***********************]  1 of 1 downloaded

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Total Return:  491

In [5]:
amzn_return[amzn_return['short'] == 1]

    sentiment  short  return        date    Open   Close
25  -0.178977      1    -959  2016-04-25  616.61  626.20
26   0.130744      1     928  2016-04-26  626.17  616.88
27   0.100881      1     522  2016-04-27  611.80  606.57

In [9]:
aapl_tweets = clean_data(pd.read_excel('aapl_tweets.xlsx','Stream'))
aapl_senti = get_sentiment_score(aapl_tweets)
aapl_senti = get_daily_sentiment(aapl_senti)
aapl_senti = reset_index(aapl_senti)
aapl = get_stock_prices('AAPL',aapl_senti)
aapl_senti = match_open_close(aapl_senti,aapl)
aapl_return = calculate_return(short(aapl_senti))

[*********************100%***********************]  1 of 1 downloaded

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Total Return:  141

In [11]:
aapl_return[aapl_return['short']==1]

    sentiment  short  return        date   Open  Close
33   0.058316      1      76  2016-05-05  94.00  93.24
34   0.043765      1      65  2016-05-06  93.37  92.72

In [10]:
googl_tweets = clean_data(pd.read_excel('googl.xlsx','Stream'))
googl_senti = get_sentiment_score(googl_tweets)
googl_senti = get_daily_sentiment(googl_senti)
googl_senti = reset_index(googl_senti)
googl = get_stock_prices('GOOGL',googl_senti)
googl_senti = match_open_close(googl_senti,googl)
googl_return = calculate_return(short(googl_senti))

[*********************100%***********************]  1 of 1 downloaded

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Total Return:  1061

In [6]:
fb_tweets = clean_data(pd.read_excel('fb_tweets.xlsx','Stream'))
fb_senti = get_sentiment_score(fb_tweets)
fb_senti = get_daily_sentiment(fb_senti)
fb_senti = reset_index(fb_senti)
fb = get_stock_prices('FB',fb_senti)
fb_senti = match_open_close(fb_senti,fb)
fb_return = calculate_return(short(fb_senti))

[*********************100%***********************]  1 of 1 downloaded

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Total Return:  2

In [8]:
fb_return[fb_return['short'] == 1]

    sentiment  short  return        date    Open   Close
39   0.153934      1     -87  2016-05-10  119.62  120.50
40   0.186217      1      89  2016-05-11  120.41  119.52

In [21]:
yf.download('GOOGL','2017-09-2','2019-02-1')

[*********************100%***********************]  1 of 1 downloaded

               Open     High      Low    Close  Adj Close   Volume
Date
2017-09-01   957.47   958.33   950.28   951.99     951.99  1042900
2017-09-05   946.86   951.39   935.60   941.48     941.48  1457400
2017-09-06   943.87   944.50   932.68   942.02     942.02  1391500
2017-09-07   944.25   950.50   937.53   949.89     949.89  1116600
2017-09-08   949.70   950.70   940.01   941.41     941.41   999900
2017-09-11   947.20   952.68   941.00   943.29     943.29  1337400
2017-09-12   946.92   948.09   937.50   946.65     946.65  1284800
2017-09-13   945.50   952.85   944.74   950.44     950.44  1095400
2017-09-14   946.00   948.03   938.36   940.13     940.13  1427400
2017-09-15   940.09   941.75   931.25   935.29     935.29  1994300
2017-09-18   935.01   936.86   925.40   929.75     929.75  1473700
2017-09-19   933.41   937.94   926.66   936.86     936.86  1242700
2017-09-20   937.73   950.00   937.50   947.54     947.54  2004000
2017-09-21   948.13   952.80   939.38   947.55     947.55  1370700
2017-09-22   942.77   950.00   940.84   943.26     943.26  1074800
2017-09-25   939.45   939.75   924.51   934.28     934.28  1873400
2017-09-26   936.69   944.08   935.12   937.43     937.43  1672700
2017-09-27   942.74   965.43   941.95   959.90     959.90  2334600
2017-09-28   956.25   966.18   955.55   964.81     964.81  1400900
2017-09-29   966.00   975.81   966.00   973.72     973.72  2031100
2017-10-02   975.65   977.74   961.95   967.47     967.47  1539100
2017-10-03   967.56   972.44   962.71   972.08     972.08  1083300
2017-10-04   971.76   974.40   965.61   966.78     966.78  1057800
2017-10-05   972.79   986.51   970.27   985.19     985.19  1780900
2017-10-06   980.00   994.26   978.51   993.64     993.64  1553000
2017-10-09   995.00  1000.46   991.50   992.31     992.31  1295500
2017-10-10   995.30   997.47   981.11   987.80     987.80  1163400
2017-10-11   989.04  1007.57   987.94  1005.65    1005.65  1815000
2017-10-12  1003.84  1011.54  1001.10  1005.65    1005.65  1530700
2017-10-13  1009.11  1014.76  1007.06  1007.87    1007.87  1327600
...             ...      ...      ...      ...        ...      ...
2018-12-18  1034.00  1059.69  1030.48  1043.41    1043.41  2182000
2018-12-19  1047.29  1075.71  1019.43  1035.46    1035.46  2913200
2018-12-20  1026.00  1047.44  1007.86  1023.58    1023.58  2683700
2018-12-21  1032.04  1037.67   981.19   991.25     991.25  5232800
2018-12-24   984.32  1012.12   977.66   984.67     984.67  1818000
2018-12-26   997.99  1048.45   992.65  1047.85    1047.85  2315900
2018-12-27  1026.20  1053.34  1007.00  1052.90    1052.90  2299800
2018-12-28  1059.50  1064.23  1042.00  1046.68    1046.68  1719900
2018-12-31  1057.83  1062.99  1033.04  1044.96    1044.96  1655500
2019-01-02  1027.20  1060.79  1025.28  1054.68    1054.68  1593400
2019-01-03  1050.67  1066.26  1022.37  1025.47    1025.47  2098000
2019-01-04  1042.56  1080.00  1036.86  1078.07    1078.07  2301100
2019-01-07  1080.97  1082.70  1062.64  1075.92    1075.92  2372300
2019-01-08  1086.00  1093.35  1068.35  1085.37    1085.37  1770700
2019-01-09  1087.99  1091.64  1074.37  1081.65    1081.65  1349900
2019-01-10  1074.94  1079.81  1064.68  1078.83    1078.83  1329900
2019-01-11  1069.90  1073.37  1056.43  1064.47    1064.47  1543200
2019-01-14  1053.34  1058.45  1048.55  1051.51    1051.51  1424500
2019-01-15  1058.01  1088.27  1054.44  1086.51    1086.51  1875900
2019-01-16  1090.00  1102.36  1088.01  1089.51    1089.51  1914000
2019-01-17  1087.99  1100.70  1083.26  1099.12    1099.12  1244800
2019-01-18  1108.59  1118.00  1099.28  1107.30    1107.30  2244600
2019-01-22  1096.00  1098.97  1070.89  1078.63    1078.63  1981600
2019-01-23  1086.86  1092.95  1067.57  1084.41    1084.41  1259700
2019-01-24  1082.51  1088.00  1070.02  1084.00    1084.00  1455700
2019-01-25  1094.23  1103.36  1091.80  1101.51    1101.51  1163000
2019-01-28  1090.07  1093.37  1074.61  1079.86    1079.86  1466700
2019-01-29  1081.04  1084.73  1066.02  1070.06    1070.06   985200
2019-01-30  1077.36  1099.52  1076.64  1097.99    1097.99  1472600
2019-01-31  1112.24  1127.67  1105.25  1125.89    1125.89  2011600

[355 rows x 6 columns]

In [12]:
sia.polarity_scores("Algoritmic trading is amazing")['compound']

0.5859

In [16]:
sia.polarity_scores("Algoritmic trading is amazing!")['compound']

0.6239

In [17]:
sia.polarity_scores("Algoritmic trading is ok")['compound']

0.296

In [22]:
sia.polarity_scores("Algoritmic trading is so bad")['compound']

-0.6696

In [21]:
sia.polarity_scores("Algoritmic trading is SO bad")['compound']

-0.6732

In [42]:
googl = pd.read_excel('googl.xlsx','Stream')
print('Length: ', len(googl))

Length:  29385

In [30]:
googl.columns

Index(['Tweet Id', 'Date', 'Hour', 'User Name', 'Nickname', 'Bio',
       'Tweet content', 'Favs', 'RTs', 'Latitude', 'Longitude', 'Country',
       'Place (as appears on Bio)', 'Profile picture', 'Followers',
       'Following', 'Listed', 'Tweet language (ISO 639-1)', 'Tweet Url',
       'Is a RT', 'Original Tweet User Name', 'User Mentions', 'Hashtags',
       'Symbols', 'Media', 'URLs'],
      dtype='object')

In [32]:
googl.head()

,Tweet Id,Date,Hour,User Name,Nickname,Bio,Tweet content,Favs,RTs,Latitude,...,Listed,Tweet language (ISO 639-1),Tweet Url,Is a RT,Original Tweet User Name,User Mentions,Hashtags,Symbols,Media,URLs
0,743031249682477057,2016-06-15,10:43,kimweeks,kimweeks77,NaN,RT @johnscharts: Similar to $GOOGL: $NFLX is s...,NaN,2.0,NaN,...,7.0,en,http://www.twitter.com/kimweeks77/status/74303...,True,@johnscharts,@johnscharts,NaN,"$GOOGL,$NFLX",http://pbs.twimg.com/media/Ck_Gw_nWgAISZ37.jpg,NaN
1,743031012406394880,2016-06-15,10:42,BullishChartPatterns,johnscharts,Chart pattern trader. Tweeting with friends an...,Similar to $GOOGL: $NFLX is showing reversal s...,3.0,2.0,37.54812,...,87.0,en,http://www.twitter.com/johnscharts/status/7430...,False,NaN,NaN,NaN,"$GOOGL,$NFLX",http://pbs.twimg.com/media/Ck_Gw_nWgAISZ37.jpg,NaN
2,743030242688696321,2016-06-15,10:39,Advertising News,AdNewsUS,The World of Advertising and Marketing Ideas,"#consumer, #jobs New #OT rules | ""OVERTIME: It...",NaN,NaN,NaN,...,93.0,en,http://www.twitter.com/AdNewsUS/status/7430302...,False,NaN,@YouTube,"#consumer,#jobs,#OT",$GOOGL,NaN,https://youtu.be/UFJaDm720FU
3,743029037858234368,2016-06-15,10:35,ProTradersNews,ProTradersNews,News for Pro Traders,$GOOGL:\n\nIs Dallas the Next Destination for ...,NaN,NaN,NaN,...,103.0,en,http://www.twitter.com/ProTradersNews/status/7...,False,NaN,NaN,NaN,$GOOGL,NaN,http://www.StockNewsWires.com/2016/06/15/googl...
4,743028676883779584,2016-06-15,10:33,dailystockplays.com,DailyStockPlays,"Live Day Trading Calls, Daily Swing Trading Li...",Unusual Call Activity https://t.co/4jDlRqXapi ...,NaN,NaN,37.25022,...,120.0,en,http://www.twitter.com/DailyStockPlays/status/...,False,NaN,NaN,NaN,"$KR,$WFT,$LOW,$PYPL,$MGM,$VXX,$GLD,$IYR,$LVS,$...",NaN,http://www.dailystockplays.com/Unusual-Call-Op...

In [43]:
googl=clean_data(googl)
googl

             Date                                      Tweet content
0      2016-06-15  RT @johnscharts: Similar to $GOOGL: $NFLX is s...
1      2016-06-15  Similar to $GOOGL: $NFLX is showing reversal s...
2      2016-06-15  #consumer, #jobs New #OT rules | "OVERTIME: It...
3      2016-06-15  $GOOGL:\n\nIs Dallas the Next Destination for ...
4      2016-06-15  Unusual Call Activity https://t.co/4jDlRqXapi ...
5      2016-06-15  $SPY $FB $IWM $IBB $AMZN $GOOGL Pay Attention ...
6      2016-06-15  $MSFT $AAPL $GOOGL:\n\nApple Tries to Limit Go...
7      2016-06-15  Google Fiber explores Dallas https://t.co/lsdB...
8      2016-06-15  #YouTube is built on the back of stolen conten...
9      2016-06-15  Andreas Halvorsen Buys Facebook, Amazon, Maste...
10     2016-06-15  RT @MarketsRecap: These 3 Stocks Will Surprise...
11     2016-06-15  RT @Dealogic: $GOOGL buying $TWTR predicted to...
12     2016-06-15  RT @SAlphaTech: Google Fiber explores Dallas h...
13     2016-06-15  Google Fiber explores Dallas https://t.co/FRVd...
14     2016-06-15  Google Fiber explores Dallas https://t.co/2NGy...
15     2016-06-15  Google Fiber explores Dallas https://t.co/jqSd...
16     2016-06-15  These 3 Stocks Will Surprise Investors This Ea...
17     2016-06-15  HTS Horizons BetaPro S&amp;P/TSX 60 Bear Plus ...
18     2016-06-15  GOOGL GoPro, Inc. Yield\nhttps://t.co/LA4ddiAM...
19     2016-06-15  Alphabet Launches Enterprise Assistant Springb...
20     2016-06-15  RT @veryFatcat: My cat is running the algos fo...
21     2016-06-15  $GOOGL $FB French killer's Facebook broadcast ...
22     2016-06-15  RT @DarbyOGill_: Sign up for free on 1broker w...
23     2016-06-15  XLE Financial Select Sector SPDR Fund Company ...
24     2016-06-15  TLT Direxion Daily 20+ Year Treasury Bull 3x S...
25     2016-06-15  Altering the deal: why Tony Fadell left Nest —...
26     2016-06-15  XLB Materials Select Sector SPDR Fund Message ...
27     2016-06-15  RT @theflynews: On The Fly: Top stock stories ...
28     2016-06-15  RT @sonycomeback: $SNE #SonyE3  BOOK VALUE 2X ...
29     2016-06-15  RT @sonycomeback: $SNE Sony #Xperia X has a 23...
...           ...                                                ...
29355  2016-03-29  Apple's New Pragmatism https://t.co/Z2RspjJtC7...
29356  2016-03-29  $AMZN $FB $NFLX $MSFT $GOOGL $AAPL tech is on ...
29357  2016-03-29  FANGB $FB $AMZN $NFLX $GOOGL $BIDU\n\nThey don...
29358  2016-03-29             Great action from $GOOGL as well here.
29359  2016-03-29  As long as $GOOGL is at least doubling the gai...
29360  2016-03-29  Relative strength in high beta tech early was ...
29361  2016-03-29  $SPX  https://t.co/yXdKYPVPp5 #BEARMARKET 2016...
29362  2016-03-29  @SkeleCap @modestproposal1 @max02050 @Bluegras...
29363  2016-03-29  scaling out and locking gains on our 580 calls...
29364  2016-03-29                    .@autumnalcity87 strong. $GOOGL
29365  2016-03-29  RT @ppprophet: $DJI  = 6000 pts  soon! #BEARMA...
29366  2016-03-29  RT @ppprophet: $SPX  = 666 pts  soon! #BEARMAR...
29367  2016-03-29  $FB approaching .886 retracement @ 115.22. $GO...
29368  2016-03-29  RT @marketingdive: Google revamps @adwords for...
29369  2016-03-29  Google revamps @adwords for a mobile-first mar...
29370  2016-03-29                           $GOOGL so nice for calls
29371  2016-03-29    It's a FANG kind of day  $FB $AMZN $NFLX $GOOGL
29372  2016-03-29  Commented on April Dividend Brings CEFL Yield ...
29373  2016-03-29    $FB Favorite #FANG #stock. Second comes $GOOGL.
29374  2016-03-29  RT @SAI: This new technology is changing web a...
29375  2016-03-29                            I'm in $googl calls btw
29376  2016-03-29  Apple Vs. FBI: Winning By Coming Up Short http...
29377  2016-03-29  RT @businessinsider: This new technology is ch...
29378  2016-03-29  RT @SAI: This new technology is changing web a...
29379  2016-03-29  $FREE just when you thought it couldn't get an...
29380  2016-03-29  businessinsider: This new technology is changi...
29381  2016-03-29  $GOOGL Takes Too Much Heat - https://t.co/i7Qp...
29382  2016-03-29  This new technology is changing web advertisin...
29383  2016-03-29  "FANG" stocks all pretty strong. $FB $AMZN $NF...
29384  2016-03-29  RT businessinsider "This new technology is cha...

[29385 rows x 2 columns]

In [44]:
googl = get_sentiment_score(googl)
print('Length: ',len(googl))
googl

Length:  14502

,Date,Tweet content,sentiment
5,2016-06-15,$SPY $FB $IWM $IBB $AMZN $GOOGL Pay Attention ...,-0.1027
8,2016-06-15,#YouTube is built on the back of stolen conten...,-0.4939
9,2016-06-15,"Andreas Halvorsen Buys Facebook, Amazon, Maste...",0.1779
10,2016-06-15,RT @MarketsRecap: These 3 Stocks Will Surprise...,0.2732
16,2016-06-15,These 3 Stocks Will Surprise Investors This Ea...,0.2732
21,2016-06-15,$GOOGL $FB French killer's Facebook broadcast ...,0.0772
22,2016-06-15,RT @DarbyOGill_: Sign up for free on 1broker w...,0.7351
24,2016-06-15,TLT Direxion Daily 20+ Year Treasury Bull 3x S...,0.4588
27,2016-06-15,RT @theflynews: On The Fly: Top stock stories ...,0.2023
28,2016-06-15,RT @sonycomeback: $SNE #SonyE3 BOOK VALUE 2X ...,-0.5514
31,2016-06-15,"Btw, Estimated #Earnings Per Share for $GOOGL ...",0.2960
32,2016-06-15,"Top losers today: $GOLD, $GGAL, $GOOGL, $FRAN,...",0.3818
33,2016-06-15,"Top losers today: $GOLD, $GGAL, $GOOGL, $FRAN,...",0.3818
36,2016-06-15,"Top losers today: $GOLD, $GGAL, $GOOGL, $FRAN,...",-0.3818
37,2016-06-15,RT @MartinMushell: Educated guess: $GOOGL buys...,0.8360
39,2016-06-15,The Real Problem With Real Estate Understood B...,-0.4019
50,2016-06-15,"Alphabet (GOOGL) Stock Closed Up, Plans to Exp...",0.3182
51,2016-06-15,RT @intowin2017: ERY Direxion Daily Energy Bea...,0.5106
52,2016-06-15,ERY Direxion Daily Energy Bear 3x Shares Last ...,0.5106
54,2016-06-15,These 3 Stocks Will Surprise Investors This Ea...,0.2732
59,2016-06-15,Educated guess: $GOOGL buys $TWTR for $24 per ...,0.8360
63,2016-06-15,$GOOGL:\n\nGoogle Ventures’ Bill Maris on Disr...,-0.3612
65,2016-06-15,$FB $AMZN $NFLX $GOOGL (F.A.N.G) simple charts...,0.4648
67,2016-06-15,"Free video w/setups for June 15 ""Now We Need T...",0.7579
69,2016-06-15,How much of a tech giant's value is tied to it...,0.6808
70,2016-06-15,PM Philip Morris Intl Inc. 52Wk Low\nhttps://t...,-0.2732
71,2016-06-15,RT @SunriseTrader: $GOOGL confirmed indecision...,0.2263
72,2016-06-15,"RT @YahooFinance: Traders: Amazon will hit $1,...",0.1779
73,2016-06-15,$GOOGL held where it needed to but really goin...,-0.1531
76,2016-06-15,HOD.TO Horizons BetaPro NYMEX Crude Oil Bear P...,-0.5719
...,...,...,...
29333,2016-03-29,RT @SAI: Here's why Periscope is so important ...,0.3327
29334,2016-03-29,Here's why Periscope is so important to Twitte...,0.3327
29335,2016-03-29,RT @businessinsider: Here's why Periscope is s...,0.3327
29336,2016-03-29,RT @businessinsider: Here's why Periscope is s...,0.3327
29337,2016-03-29,"RT businessinsider ""Here's why Periscope is so...",0.3327
29338,2016-03-29,RT @businessinsider: Here's why Periscope is s...,0.3327
29339,2016-03-29,RT @businessinsider: Here's why Periscope is s...,0.3327
29340,2016-03-29,RT @SAI: Here's why Periscope is so important ...,0.3327
29341,2016-03-29,RT @businessinsider: Here's why Periscope is s...,0.3327
29342,2016-03-29,Here's why Periscope is so important to Twitte...,0.3327
29343,2016-03-29,Here's why Periscope is so important to Twitte...,0.3327
29345,2016-03-29,Apple Vs. FBI: Winning By Coming Up Short... h...,0.5267
29346,2016-03-29,$FB $GOOGL $INTU $TWTR:\n\nHow Weird Is the Ta...,-0.1779
29347,2016-03-29,$SPY ... $IWM $QQQ $FB $AMZN $NFLX $GOOGL $RUB...,0.3818
29348,2016-03-29,RT @ppprophet: STOCKMARKET CRASH IS COMING get...,-0.3016
29350,2016-03-29,RT @ppprophet: STOCKMARKET CRASH IS COMING get...,-0.3016
29352,2016-03-29,$GOOGL $10 higher from the low this morning,-0.2732
29353,2016-03-29,lovely attempt to leave balance. Getting some...,0.5983
29356,2016-03-29,$AMZN $FB $NFLX $MSFT $GOOGL $AAPL tech is on ...,-0.3400
29358,2016-03-29,Great action from $GOOGL as well here.,0.7351
29359,2016-03-29,As long as $GOOGL is at least doubling the gai...,0.7269
29360,2016-03-29,Relative strength in high beta tech early was ...,0.7269
29362,2016-03-29,@SkeleCap @modestproposal1 @max02050 @Bluegras...,-0.3612
29363,2016-03-29,scaling out and locking gains on our 580 calls...,0.3400
29364,2016-03-29,.@autumnalcity87 strong. $GOOGL,0.5106
29367,2016-03-29,$FB approaching .886 retracement @ 115.22. $GO...,-0.2023
29370,2016-03-29,$GOOGL so nice for calls,0.4754
29373,2016-03-29,$FB Favorite #FANG #stock. Second comes $GOOGL.,0.4588
29376,2016-03-29,Apple Vs. FBI: Winning By Coming Up Short http...,0.5267
29383,2016-03-29,"""FANG"" stocks all pretty strong. $FB $AMZN $NF...",0.7579

In [45]:
googl = get_daily_sentiment(googl)
googl

            sentiment
Date
2016-03-29   0.317342
2016-03-30   0.235119
2016-03-31   0.247812
2016-04-01   0.185321
2016-04-02   0.223353
2016-04-03   0.295681
2016-04-04   0.112185
2016-04-05   0.232705
2016-04-06   0.276270
2016-04-07   0.241570
2016-04-08   0.234324
2016-04-09   0.114123
2016-04-10   0.017022
2016-04-11   0.246318
2016-04-12   0.277384
2016-04-13   0.194358
2016-04-14   0.181996
2016-04-15   0.275315
2016-04-16   0.341588
2016-04-17   0.274255
2016-04-18   0.233100
2016-04-19   0.234095
2016-04-20   0.160349
2016-04-21   0.106989
2016-04-22   0.048844
2016-04-23   0.131809
2016-04-24   0.182620
2016-04-25   0.157578
2016-04-26   0.004024
2016-04-27   0.110389
...               ...
2016-05-15   0.206227
2016-05-16   0.223478
2016-05-17   0.058043
2016-05-18   0.135219
2016-05-19   0.235649
2016-05-20   0.278046
2016-05-21   0.207703
2016-05-22   0.367138
2016-05-23   0.262626
2016-05-24   0.133810
2016-05-25   0.275530
2016-05-26   0.147537
2016-05-27   0.252301
2016-05-28   0.426351
2016-05-29   0.414578
2016-05-30   0.370641
2016-05-31   0.309206
2016-06-01   0.151496
2016-06-02   0.206463
2016-06-03   0.246789
2016-06-04   0.065673
2016-06-05  -0.143206
2016-06-06   0.082974
2016-06-07   0.142164
2016-06-10   0.238080
2016-06-11   0.194730
2016-06-12   0.071762
2016-06-13   0.161654
2016-06-14   0.124386
2016-06-15   0.185283

[77 rows x 1 columns]

In [46]:
googl = reset_index(googl)

In [47]:
googl

    sentiment  short  return        date
0    0.317342      0       0  2016-03-29
1    0.235119      0       0  2016-03-30
2    0.247812      0       0  2016-03-31
3    0.185321      0       0  2016-04-01
4    0.223353      0       0  2016-04-02
5    0.295681      0       0  2016-04-03
6    0.112185      0       0  2016-04-04
7    0.232705      0       0  2016-04-05
8    0.276270      0       0  2016-04-06
9    0.241570      0       0  2016-04-07
10   0.234324      0       0  2016-04-08
11   0.114123      0       0  2016-04-09
12   0.017022      0       0  2016-04-10
13   0.246318      0       0  2016-04-11
14   0.277384      0       0  2016-04-12
15   0.194358      0       0  2016-04-13
16   0.181996      0       0  2016-04-14
17   0.275315      0       0  2016-04-15
18   0.341588      0       0  2016-04-16
19   0.274255      0       0  2016-04-17
20   0.233100      0       0  2016-04-18
21   0.234095      0       0  2016-04-19
22   0.160349      0       0  2016-04-20
23   0.106989      0       0  2016-04-21
24   0.048844      0       0  2016-04-22
25   0.131809      0       0  2016-04-23
26   0.182620      0       0  2016-04-24
27   0.157578      0       0  2016-04-25
28   0.004024      0       0  2016-04-26
29   0.110389      0       0  2016-04-27
..        ...    ...     ...         ...
47   0.206227      0       0  2016-05-15
48   0.223478      0       0  2016-05-16
49   0.058043      0       0  2016-05-17
50   0.135219      0       0  2016-05-18
51   0.235649      0       0  2016-05-19
52   0.278046      0       0  2016-05-20
53   0.207703      0       0  2016-05-21
54   0.367138      0       0  2016-05-22
55   0.262626      0       0  2016-05-23
56   0.133810      0       0  2016-05-24
57   0.275530      0       0  2016-05-25
58   0.147537      0       0  2016-05-26
59   0.252301      0       0  2016-05-27
60   0.426351      0       0  2016-05-28
61   0.414578      0       0  2016-05-29
62   0.370641      0       0  2016-05-30
63   0.309206      0       0  2016-05-31
64   0.151496      0       0  2016-06-01
65   0.206463      0       0  2016-06-02
66   0.246789      0       0  2016-06-03
67   0.065673      0       0  2016-06-04
68  -0.143206      0       0  2016-06-05
69   0.082974      0       0  2016-06-06
70   0.142164      0       0  2016-06-07
71   0.238080      0       0  2016-06-10
72   0.194730      0       0  2016-06-11
73   0.071762      0       0  2016-06-12
74   0.161654      0       0  2016-06-13
75   0.124386      0       0  2016-06-14
76   0.185283      0       0  2016-06-15

[77 rows x 4 columns]

In [48]:
prices = get_stock_prices('GOOGL',googl)
prices

[*********************100%***********************]  1 of 1 downloaded

              Open    High     Low   Close  Adj Close   Volume
Date
2016-03-28  756.17  758.30  752.04  753.28     753.28  1083800
2016-03-29  753.68  767.18  748.29  765.89     765.89  2003100
2016-03-30  768.21  777.31  767.58  768.34     768.34  2019800
2016-03-31  768.34  769.08  758.25  762.90     762.90  1627700
2016-04-01  757.16  770.04  755.20  769.67     769.67  1583700
2016-04-04  769.51  772.44  761.79  765.12     765.12  1346200
2016-04-05  758.13  762.87  755.60  758.57     758.57  1223900
2016-04-06  757.84  768.42  756.30  768.07     768.07  1265600
2016-04-07  765.32  769.36  757.50  760.12     760.12  1274900
2016-04-08  765.87  767.13  755.77  759.47     759.47  1171700
2016-04-11  765.45  767.22  757.34  757.54     757.54  1588700
2016-04-12  758.43  764.92  751.57  764.32     764.32  1369400
2016-04-13  770.31  775.75  764.59  771.91     771.91  1771300
2016-04-14  775.36  779.61  773.22  775.39     775.39  1349600
2016-04-15  775.50  780.93  774.93  780.00     780.00  1585600
2016-04-18  780.19  788.55  777.61  787.68     787.68  1677000
2016-04-19  790.50  790.95  770.27  776.25     776.25  2197600
2016-04-20  779.16  779.66  771.27  774.92     774.92  1713100
2016-04-21  777.31  781.68  771.55  780.00     780.00  3881400
2016-04-22  743.91  753.92  730.37  737.77     737.77  7039900
2016-04-25  735.35  744.88  735.10  742.21     742.21  2472100
2016-04-26  744.42  745.59  720.32  725.37     725.37  2793200
2016-04-27  725.32  727.15  709.08  721.46     721.46  3313100
2016-04-28  723.29  729.26  703.20  705.06     705.06  3129500
2016-04-29  704.12  712.11  703.78  707.88     707.88  2913900
2016-05-02  711.92  715.41  706.36  714.41     714.41  1673800
2016-05-03  712.50  713.37  707.33  708.44     708.44  1931000
2016-05-04  706.77  715.05  704.05  711.37     711.37  1708600
2016-05-05  715.00  717.55  709.45  714.71     714.71  1483400
2016-05-06  712.20  725.99  711.95  725.18     725.18  1997600
2016-05-09  726.70  734.29  723.50  729.13     729.13  1903700
2016-05-10  734.96  740.00  731.61  739.38     739.38  1631700
2016-05-11  740.52  740.80  727.90  730.55     730.55  1491700
2016-05-12  732.00  735.37  724.27  728.07     728.07  1354700
2016-05-13  726.62  731.29  723.51  724.83     724.83  1262200
2016-05-16  724.32  732.68  720.00  730.30     730.30  1126900
2016-05-17  731.06  735.85  718.00  720.19     720.19  1670200
2016-05-18  718.50  725.57  715.02  721.78     721.78  1626800
2016-05-19  718.30  720.50  710.31  715.31     715.31  1529900
2016-05-20  716.46  727.70  715.01  721.71     721.71  1739900
2016-05-23  719.98  723.50  716.94  717.25     717.25  1240800
2016-05-24  719.85  734.20  719.65  733.03     733.03  1894200
2016-05-25  735.00  739.89  732.60  738.10     738.10  1610800
2016-05-26  736.00  741.10  733.00  736.93     736.93  1360100
2016-05-27  737.51  747.91  737.01  747.60     747.60  1740100
2016-05-31  748.76  753.48  745.57  748.85     748.85  2124200
2016-06-01  748.47  751.37  744.34  748.46     748.46  1039400
2016-06-02  746.10  747.30  737.00  744.27     744.27  1695800
2016-06-03  741.49  741.49  733.91  735.86     735.86  1230400
2016-06-06  738.50  738.50  728.29  730.06     730.06  1499600
2016-06-07  733.27  736.71  730.80  731.09     731.09  1215700
2016-06-08  739.50  743.81  735.77  742.93     742.93  1615700
2016-06-09  737.07  743.93  736.50  742.52     742.52   959000
2016-06-10  735.95  739.64  730.51  733.19     733.19  1452500
2016-06-13  729.82  739.00  729.82  731.88     731.88  1167700
2016-06-14  729.31  736.00  726.50  733.25     733.25  1329200

In [49]:
googl = match_open_close(googl,prices)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [50]:
googl

    sentiment  short  return        date    Open   Close
0    0.317342      0       0  2016-03-29  753.68  765.89
1    0.235119      0       0  2016-03-30  768.21  768.34
2    0.247812      0       0  2016-03-31  768.34  762.90
3    0.185321      0       0  2016-04-01  757.16  769.67
4    0.223353      0       0  2016-04-02    0.00    0.00
5    0.295681      0       0  2016-04-03    0.00    0.00
6    0.112185      0       0  2016-04-04  769.51  765.12
7    0.232705      0       0  2016-04-05  758.13  758.57
8    0.276270      0       0  2016-04-06  757.84  768.07
9    0.241570      0       0  2016-04-07  765.32  760.12
10   0.234324      0       0  2016-04-08  765.87  759.47
11   0.114123      0       0  2016-04-09    0.00    0.00
12   0.017022      0       0  2016-04-10    0.00    0.00
13   0.246318      0       0  2016-04-11  765.45  757.54
14   0.277384      0       0  2016-04-12  758.43  764.32
15   0.194358      0       0  2016-04-13  770.31  771.91
16   0.181996      0       0  2016-04-14  775.36  775.39
17   0.275315      0       0  2016-04-15  775.50  780.00
18   0.341588      0       0  2016-04-16    0.00    0.00
19   0.274255      0       0  2016-04-17    0.00    0.00
20   0.233100      0       0  2016-04-18  780.19  787.68
21   0.234095      0       0  2016-04-19  790.50  776.25
22   0.160349      0       0  2016-04-20  779.16  774.92
23   0.106989      0       0  2016-04-21  777.31  780.00
24   0.048844      0       0  2016-04-22  743.91  737.77
25   0.131809      0       0  2016-04-23    0.00    0.00
26   0.182620      0       0  2016-04-24    0.00    0.00
27   0.157578      0       0  2016-04-25  735.35  742.21
28   0.004024      0       0  2016-04-26  744.42  725.37
29   0.110389      0       0  2016-04-27  725.32  721.46
..        ...    ...     ...         ...     ...     ...
47   0.206227      0       0  2016-05-15    0.00    0.00
48   0.223478      0       0  2016-05-16  724.32  730.30
49   0.058043      0       0  2016-05-17  731.06  720.19
50   0.135219      0       0  2016-05-18  718.50  721.78
51   0.235649      0       0  2016-05-19  718.30  715.31
52   0.278046      0       0  2016-05-20  716.46  721.71
53   0.207703      0       0  2016-05-21    0.00    0.00
54   0.367138      0       0  2016-05-22    0.00    0.00
55   0.262626      0       0  2016-05-23  719.98  717.25
56   0.133810      0       0  2016-05-24  719.85  733.03
57   0.275530      0       0  2016-05-25  735.00  738.10
58   0.147537      0       0  2016-05-26  736.00  736.93
59   0.252301      0       0  2016-05-27  737.51  747.60
60   0.426351      0       0  2016-05-28    0.00    0.00
61   0.414578      0       0  2016-05-29    0.00    0.00
62   0.370641      0       0  2016-05-30    0.00    0.00
63   0.309206      0       0  2016-05-31  748.76  748.85
64   0.151496      0       0  2016-06-01  748.47  748.46
65   0.206463      0       0  2016-06-02  746.10  744.27
66   0.246789      0       0  2016-06-03  741.49  735.86
67   0.065673      0       0  2016-06-04    0.00    0.00
68  -0.143206      0       0  2016-06-05    0.00    0.00
69   0.082974      0       0  2016-06-06  738.50  730.06
70   0.142164      0       0  2016-06-07  733.27  731.09
71   0.238080      0       0  2016-06-10  735.95  733.19
72   0.194730      0       0  2016-06-11    0.00    0.00
73   0.071762      0       0  2016-06-12    0.00    0.00
74   0.161654      0       0  2016-06-13  729.82  731.88
75   0.124386      0       0  2016-06-14    0.00    0.00
76   0.185283      0       0  2016-06-15    0.00    0.00

[77 rows x 6 columns]

In [53]:
googl = calculate_return(short(googl))
googl

Total Return:  1061

    sentiment  short  return        date    Open   Close
0    0.317342      0       0  2016-03-29  753.68  765.89
1    0.235119      0       0  2016-03-30  768.21  768.34
2    0.247812      0       0  2016-03-31  768.34  762.90
3    0.185321      0       0  2016-04-01  757.16  769.67
4    0.223353      0       0  2016-04-02    0.00    0.00
5    0.295681      0       0  2016-04-03    0.00    0.00
6    0.112185      0       0  2016-04-04  769.51  765.12
7    0.232705      0       0  2016-04-05  758.13  758.57
8    0.276270      0       0  2016-04-06  757.84  768.07
9    0.241570      0       0  2016-04-07  765.32  760.12
10   0.234324      0       0  2016-04-08  765.87  759.47
11   0.114123      0       0  2016-04-09    0.00    0.00
12   0.017022      0       0  2016-04-10    0.00    0.00
13   0.246318      0       0  2016-04-11  765.45  757.54
14   0.277384      0       0  2016-04-12  758.43  764.32
15   0.194358      0       0  2016-04-13  770.31  771.91
16   0.181996      0       0  2016-04-14  775.36  775.39
17   0.275315      0       0  2016-04-15  775.50  780.00
18   0.341588      0       0  2016-04-16    0.00    0.00
19   0.274255      0       0  2016-04-17    0.00    0.00
20   0.233100      0       0  2016-04-18  780.19  787.68
21   0.234095      0       0  2016-04-19  790.50  776.25
22   0.160349      0       0  2016-04-20  779.16  774.92
23   0.106989      0       0  2016-04-21  777.31  780.00
24   0.048844      0       0  2016-04-22  743.91  737.77
25   0.131809      0       0  2016-04-23    0.00    0.00
26   0.182620      0       0  2016-04-24    0.00    0.00
27   0.157578      0       0  2016-04-25  735.35  742.21
28   0.004024      0       0  2016-04-26  744.42  725.37
29   0.110389      0       0  2016-04-27  725.32  721.46
..        ...    ...     ...         ...     ...     ...
47   0.206227      0       0  2016-05-15    0.00    0.00
48   0.223478      0       0  2016-05-16  724.32  730.30
49   0.058043      0       0  2016-05-17  731.06  720.19
50   0.135219      0       0  2016-05-18  718.50  721.78
51   0.235649      0       0  2016-05-19  718.30  715.31
52   0.278046      0       0  2016-05-20  716.46  721.71
53   0.207703      0       0  2016-05-21    0.00    0.00
54   0.367138      0       0  2016-05-22    0.00    0.00
55   0.262626      0       0  2016-05-23  719.98  717.25
56   0.133810      0       0  2016-05-24  719.85  733.03
57   0.275530      0       0  2016-05-25  735.00  738.10
58   0.147537      0       0  2016-05-26  736.00  736.93
59   0.252301      0       0  2016-05-27  737.51  747.60
60   0.426351      0       0  2016-05-28    0.00    0.00
61   0.414578      0       0  2016-05-29    0.00    0.00
62   0.370641      0       0  2016-05-30    0.00    0.00
63   0.309206      0       0  2016-05-31  748.76  748.85
64   0.151496      0       0  2016-06-01  748.47  748.46
65   0.206463      0       0  2016-06-02  746.10  744.27
66   0.246789      0       0  2016-06-03  741.49  735.86
67   0.065673      0       0  2016-06-04    0.00    0.00
68  -0.143206      0       0  2016-06-05    0.00    0.00
69   0.082974      1     844  2016-06-06  738.50  730.06
70   0.142164      1     217  2016-06-07  733.27  731.09
71   0.238080      0       0  2016-06-10  735.95  733.19
72   0.194730      0       0  2016-06-11    0.00    0.00
73   0.071762      0       0  2016-06-12    0.00    0.00
74   0.161654      0       0  2016-06-13  729.82  731.88
75   0.124386      0       0  2016-06-14    0.00    0.00
76   0.185283      0       0  2016-06-15    0.00    0.00

[77 rows x 6 columns]

In [52]:
googl

    sentiment  short  return        date    Open   Close
0    0.317342      0       0  2016-03-29  753.68  765.89
1    0.235119      0       0  2016-03-30  768.21  768.34
2    0.247812      0       0  2016-03-31  768.34  762.90
3    0.185321      0       0  2016-04-01  757.16  769.67
4    0.223353      0       0  2016-04-02    0.00    0.00
5    0.295681      0       0  2016-04-03    0.00    0.00
6    0.112185      0       0  2016-04-04  769.51  765.12
7    0.232705      0       0  2016-04-05  758.13  758.57
8    0.276270      0       0  2016-04-06  757.84  768.07
9    0.241570      0       0  2016-04-07  765.32  760.12
10   0.234324      0       0  2016-04-08  765.87  759.47
11   0.114123      0       0  2016-04-09    0.00    0.00
12   0.017022      0       0  2016-04-10    0.00    0.00
13   0.246318      0       0  2016-04-11  765.45  757.54
14   0.277384      0       0  2016-04-12  758.43  764.32
15   0.194358      0       0  2016-04-13  770.31  771.91
16   0.181996      0       0  2016-04-14  775.36  775.39
17   0.275315      0       0  2016-04-15  775.50  780.00
18   0.341588      0       0  2016-04-16    0.00    0.00
19   0.274255      0       0  2016-04-17    0.00    0.00
20   0.233100      0       0  2016-04-18  780.19  787.68
21   0.234095      0       0  2016-04-19  790.50  776.25
22   0.160349      0       0  2016-04-20  779.16  774.92
23   0.106989      0       0  2016-04-21  777.31  780.00
24   0.048844      0       0  2016-04-22  743.91  737.77
25   0.131809      0       0  2016-04-23    0.00    0.00
26   0.182620      0       0  2016-04-24    0.00    0.00
27   0.157578      0       0  2016-04-25  735.35  742.21
28   0.004024      0       0  2016-04-26  744.42  725.37
29   0.110389      0       0  2016-04-27  725.32  721.46
..        ...    ...     ...         ...     ...     ...
47   0.206227      0       0  2016-05-15    0.00    0.00
48   0.223478      0       0  2016-05-16  724.32  730.30
49   0.058043      0       0  2016-05-17  731.06  720.19
50   0.135219      0       0  2016-05-18  718.50  721.78
51   0.235649      0       0  2016-05-19  718.30  715.31
52   0.278046      0       0  2016-05-20  716.46  721.71
53   0.207703      0       0  2016-05-21    0.00    0.00
54   0.367138      0       0  2016-05-22    0.00    0.00
55   0.262626      0       0  2016-05-23  719.98  717.25
56   0.133810      0       0  2016-05-24  719.85  733.03
57   0.275530      0       0  2016-05-25  735.00  738.10
58   0.147537      0       0  2016-05-26  736.00  736.93
59   0.252301      0       0  2016-05-27  737.51  747.60
60   0.426351      0       0  2016-05-28    0.00    0.00
61   0.414578      0       0  2016-05-29    0.00    0.00
62   0.370641      0       0  2016-05-30    0.00    0.00
63   0.309206      0       0  2016-05-31  748.76  748.85
64   0.151496      0       0  2016-06-01  748.47  748.46
65   0.206463      0       0  2016-06-02  746.10  744.27
66   0.246789      0       0  2016-06-03  741.49  735.86
67   0.065673      0       0  2016-06-04    0.00    0.00
68  -0.143206      0       0  2016-06-05    0.00    0.00
69   0.082974      1       0  2016-06-06  738.50  730.06
70   0.142164      1       0  2016-06-07  733.27  731.09
71   0.238080      0       0  2016-06-10  735.95  733.19
72   0.194730      0       0  2016-06-11    0.00    0.00
73   0.071762      0       0  2016-06-12    0.00    0.00
74   0.161654      0       0  2016-06-13  729.82  731.88
75   0.124386      0       0  2016-06-14    0.00    0.00
76   0.185283      0       0  2016-06-15    0.00    0.00

[77 rows x 6 columns]

In [1]:
amzn_return

NameError: name 'amzn_return' is not defined

In [17]:
sbux_tweets = clean_data(pd.read_excel('sbux.xlsx','Stream'))
sbux_senti = get_sentiment_score(sbux_tweets)
sbux_senti = get_daily_sentiment(sbux_senti)
sbux_senti = reset_index(sbux_senti)
sbux = get_stock_prices('SBUX',sbux_senti)
sbux_senti = match_open_close(sbux_senti,sbux)
sbux_return = calculate_return(short(sbux_senti))

[*********************100%***********************]  1 of 1 downloaded

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Total Return:  21

In [14]:
cost_senti[cost_senti['sentiment'] < 0]

    sentiment  short  return        date    Open   Close
3   -0.034009      0       0  2016-03-13    0.00    0.00
43  -0.067000      0       0  2016-04-28  152.01  151.44
51  -0.016456      0       0  2016-05-06  147.06  146.44
57  -0.013379      0       0  2016-05-12  147.32  146.72
60  -0.230617      0       0  2016-05-15    0.00    0.00
85  -0.002406      0       0  2016-06-09  153.00  154.05

In [19]:
ea_tweets = clean_data(pd.read_excel('ea.xlsx','Stream'))
ea_senti = get_sentiment_score(ea_tweets)
ea_senti = get_daily_sentiment(ea_senti)
ea_senti = reset_index(ea_senti)
ea = get_stock_prices('EA',ea_senti)
ea_senti = match_open_close(ea_senti,trip)
ea_return = calculate_return(short(ea_senti))

[*********************100%***********************]  1 of 1 downloaded

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Total Return:  -210

In [20]:
ea_senti

    sentiment  short  return        date   Open  Close
0    0.458800      0       0  2016-03-27   0.00   0.00
1    0.101123      0       0  2016-03-28  62.61  62.51
2    0.196297      0       0  2016-03-29  62.79  65.58
3    0.296241      0       0  2016-03-30  65.93  66.58
4    0.318457      0       0  2016-03-31  66.00  66.50
5    0.530750      0       0  2016-04-01  66.05  67.23
6   -0.018880      0       0  2016-04-02   0.00   0.00
7    0.040173      0       0  2016-04-03   0.00   0.00
8    0.248050      0       0  2016-04-04  67.44  65.09
9    0.334782      0       0  2016-04-05  64.09  63.96
10   0.301586      0       0  2016-04-06  64.39  65.53
11  -0.269683      0       0  2016-04-07  65.23  63.35
12   0.144408      1     182  2016-04-08  64.07  62.24
13   0.160725      1       0  2016-04-09   0.00   0.00
14   0.204900      0       0  2016-04-10   0.00   0.00
15   0.316820      0       0  2016-04-11  62.48  60.59
16   0.530064      0       0  2016-04-12  60.56  61.44
17   0.205812      0       0  2016-04-13  61.96  63.79
18  -0.086167      0       0  2016-04-14  63.85  63.51
19   0.358673      1      60  2016-04-15  63.60  63.00
20   0.253219      1       0  2016-04-16   0.00   0.00
21   0.165510      0       0  2016-04-17   0.00   0.00
22   0.206695      0       0  2016-04-18  63.06  65.44
23   0.217858      0       0  2016-04-19  65.88  64.54
24  -0.002700      0       0  2016-04-20  64.70  64.39
25   0.071000      1      84  2016-04-21  64.65  63.81
26  -0.260448      1      12  2016-04-22  63.47  63.34
27  -0.413341      0       0  2016-04-23   0.00   0.00
28  -0.085415      0       0  2016-04-24   0.00   0.00
29  -0.046471      1      62  2016-04-25  63.17  62.55
..        ...    ...     ...         ...    ...    ...
51   0.259667      0       0  2016-05-17  64.95  65.79
52   0.081033      0       0  2016-05-18  65.28  64.17
53   0.247134      0       0  2016-05-19  64.07  63.25
54  -0.024370      0       0  2016-05-20  63.54  64.53
55   0.123420      0       0  2016-05-21   0.00   0.00
56   0.238269      0       0  2016-05-22   0.00   0.00
57   0.296715      0       0  2016-05-23  64.81  66.87
58   0.367700      0       0  2016-05-24  66.92  66.07
59   0.199366      0       0  2016-05-25  66.18  66.90
60   0.270593      0       0  2016-05-26  66.84  66.60
61   0.114629      0       0  2016-05-27  66.54  67.32
62  -0.155867      0       0  2016-05-28   0.00   0.00
63   0.216850      0       0  2016-05-29   0.00   0.00
64   0.353750      0       0  2016-05-30   0.00   0.00
65  -0.020961      0       0  2016-05-31  67.50  67.74
66   0.147973      1      34  2016-06-01  67.41  67.06
67   0.112800      1    -183  2016-06-02  66.79  68.63
68   0.307769      0       0  2016-06-03  68.30  68.16
69   0.445833      0       0  2016-06-04   0.00   0.00
70   0.036550      0       0  2016-06-05   0.00   0.00
71   0.019448      0       0  2016-06-06  68.63  71.46
72   0.307661      0       0  2016-06-07  69.78  68.63
73   0.327141      0       0  2016-06-08  69.03  69.24
74   0.223382      0       0  2016-06-09  69.02  69.47
75   0.267256      0       0  2016-06-10  68.76  67.22
76   0.058325      0       0  2016-06-11   0.00   0.00
77  -0.168869      0       0  2016-06-12   0.00   0.00
78   0.004331      1      90  2016-06-13  67.02  66.11
79   0.245517      1       0  2016-06-14   0.00   0.00
80   0.440523      0       0  2016-06-15   0.00   0.00

[81 rows x 6 columns]